* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    margin: 0;
}

.article-image {
    width: 400px;
    height: 400px;
    display: block;
}

main {
    width: 70%;
}

aside {
    width: 29%;
    vertical-align: top;
}

main,
aside {
    display: inline-block;
}