<!-- Header -->
  <header id="header">
    <h1>MyBlog</h1>
    {{#if loggedIn}}
    <h2>Welcome <span>{{username}}!</span>!</h2>
    {{/if}}
    <nav id="nav">
      <ul>
        {{#if loggedIn}}
        <li><a href="#/logout">Logout</a></li>
        {{else}}
        <li><a href="#/home">Home</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/register">Register</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
{{!-- 
<div id="notifications">
  <div id="successBox" class="alert alert-success" role="alert">{Success Message...}</div>
  <div id="loadingBox" class="alert alert-info" role="alert">Loading...</div>
  <div id="errorBox" class="alert alert-danger" role="alert">{Error Message...}</div>
</div> --}}