* {
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
    font-size: 2em;
    line-height: 1.2;
}

section.container {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 0 auto;
}

article {
    margin: 2em;
}