html {
    box-sizing: inherit;
}

section {
    width: 250px;
    height: 250px;
    border: dotted #00BCD4;
}

p {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: solid darkblue;
    text-align: center;
}

h1 {
    text-align: center;
}