* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    margin: 0;
}

ul.gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.gallery li {
    border: 0.4rem solid black;
    background-color: white;
    display: inline-block;
    max-height: 500px;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    vertical-align: middle;
}

ul.gallery li:nth-child(3n) {
    margin-right: 0;
}

ul.gallery li img {
    width: 100%;
    display: block;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}