* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: rgb(238, 238, 238);
}

section {
  display: flex;
  flex-flow: row wrap;
  margin: 70px;
}

.card {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: column wrap;
  flex: 0 1 30%;
  border-radius: 6px;
}

a {
  background-color: rgb(0, 153, 0);
  text-decoration: none;
  color: white;
  float: right;
  padding: 9px 15px;
  border-radius: 5px;
  margin-top: 10px;
}

h3 {
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.2;
}

img {
  width: 100%;
  border-radius: 6px;
  height: fit-content;
}

.text {
  padding: 15px 24px 25px 24px;
}

/* .image {
  background-image: url("images/image1.jpg");
  background-repeat: no-repeat;
  height: 15em;
  width: 25em;
} */

@media (max-width: 600px){
    section{
        margin: 0;
        display: block;
    }

    img{
        height: auto;
    }
}