@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

a{
    color: rgb(251,251,251);
    text-decoration: none;
    padding: 8px 10px;
}

a.star-anchor {
  background: rgb(0, 128, 0);
}

a.email-anchor {
  background: rgb(255, 140, 0);
}

p{
    margin: 30px;
}
