* {
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

div.container, 
div.container section{
    display: flex;
    align-items: center;
}

div.container{
    max-width: 65vw;
    margin: 0 auto;
    min-height: 500px;
}

div.container span{
    border: 1px solid black;
}

.notes{
    flex-direction: column;
    align-self: stretch;
    flex: 0 1 200px;
}

.week{
    flex-flow: row wrap;
    flex: 1;
    align-self: stretch;
}

.week span{
    padding-top: 20px;
    display: flex;
    align-self: stretch;
}

.reminders,
.special-dates{
    flex: 1;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.weekend,
.workweek{
    width: 100%;
    display: flex;
    justify-content: center;
}

.weekend-day{
    flex: 1;
    display: flex;
    justify-content: center;
}

.workday{
    display: flex;
    justify-content: center;
    flex: 1;
}