@import url("https://fonts.googleapis.com/css?family=Georgia");
@import url("https://fonts.googleapis.com/css?family=Helvetica");
html {
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Georgia', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

main {
    width: 1250px;
    margin: 0 auto;
    /* border-bottom: 1px solid rgb(120, 120, 120); */
}

main hr {
    color: rgb(120, 120, 120);
    width: 40%;
}

header {
    margin: 50px 0;
}

header h1 {
    font-size: 4.5em;
    color: rgb(41, 41, 41);
    margin: 0;
}

header p {
    margin-top: 30px;
}

p {
    color: rgb(117, 117, 117);
    font-size: 26px;
    margin: 0;
}

.main-container {
    display: flex;
    margin-bottom: 90px;
}

.main-container section {
    width: 50%;
}

.btn-container {
    position: relative;
}

.btn-container button {
    position: absolute;
    bottom: 0;
    color: white;
    background: rgb(3, 168, 124);
    outline: none;
    border: none;
    padding: 15px 80px;
    font-weight: 800;
    font-size: 20px;
}

.highlight-text {
    background: rgb(206, 253, 233);
}

.description h2 {
    margin: 30px 0;
}


/* 206, 253, 233  our sole*/


/* 2, 103, 52 Get started */